.env
visit_env/
venv/
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
instance/
*.log
chroma_db/
employee_faces/
static/shots/
visitor_faces/
other_faces/
external_faces/
test_chroma.py
.DS_Store
sh2.jpg
output.txt
requirements_backup_full.txt
