<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="../static/base.css" rel="stylesheet" />
  <title>{% block title %}MySite{% endblock title %}</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 

<!-- Top Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top px-4 py-2" >
  <button class="toggle-sidebar" onclick="toggleSidebar()">☰ Menu</button>
  <div class="container-fluid" >
    <a class="navbar-brand fw-bold" href="#">VisitDesk</a>
    <div class="ms-auto d-flex align-items-center">
      <span class="text-white me-3">Welcome, Admin</span>
      
      
      <a href="{{url_for('auth.profile')}}"><img src="https://i.pravatar.cc/40" class="rounded-circle border border-white" alt="Avatar"></a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-2 col-sm-3 sidebar nav flex-column nav-pills"    id="sidebar-tab" role="tablist">
      
      <a class="nav-link " id="tab-home" href="{{url_for('admin.admin_h')}}">Home</a>

      <a class="nav-link" id="tab-active"href="{{url_for('admin.filter_role')}}">User Overview</a>
      <a class="nav-link" id="tab-overview" href="{{url_for('admin.visitor_over')}}">Visitor Overview</a>
      <a class="nav-link" id="tab-enroll" href="{{url_for('admin.enroll_employees')}}">Enroll Employees</a>
      <a class="nav-link" id="tab-manage" href="{{url_for('admin.manage_employees')}}">Manage Employees</a>
      <a class="nav-link" id="tab-manage-visitors" href="{{url_for('admin.manage_visitors')}}">Manage Visitors</a>
      <a class="nav-link" id="tab-manage-other" href="{{url_for('admin.manage_other')}}">Manage External Staff</a>
      <a class="nav-link" id="tab-attendance" href="{{url_for('admin.attendance_select')}}">Attendance Logs</a>
      <a class="nav-link d-flex justify-content-between align-items-center" id="tab-camera" href="{{url_for('admin.notification')}}">
        Notification
        {% if pending_count and pending_count > 0 %}
          <span class="badge bg-danger rounded-pill">{{ pending_count }}</span>
        {% endif %}
      </a>
      <a class="nav-link" id="tab-logout" href="{{url_for('routes.logout')}}">Logout</a>
    </nav>

    <!-- Content Area -->
    <main class="col-md-10 col-sm-9 py-4">
      {% block body %}
      {% endblock body %}
    </main>
    
  </div>
</div>
<script>
  function toggleSidebar() {
    document.querySelector('.sidebar').classList.toggle('active');
  }
</script>
</body>

</html>
