<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elgoss Automated Attendance System</title>

    <!-- CSS File Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="landing-body">

    <div class="container">

        <div class="content">

            <!-- Left Text Section -->
            <div class="text">

                <img src="{{ url_for('static', filename='images/reg logo.png') }}" alt="Elgoss Logo" class="company-logo">

                <h1>
                    Elgoss Automated <br>
                    Attendance System
                </h1>

                <a href="{{ url_for('auth.login') }}" class="btn">
                    Get Started
                </a>

            </div>

            <!-- Right Image Section -->
            <div class="image">

                <img src="{{ url_for('static', filename='images/hrms_illustration.png') }}" alt="HRMS Attendance Illustration">

            </div>

        </div>

    </div>

</body>

</html>